<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <!-- Global log message desensitization converter (3rd line of defense) -->
  <conversionRule conversionWord="maskedMsg"
                  class="com.ahogek.cttserver.common.config.logging.MaskingMessageConverter"/>

  <springProfile name="!prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
              <!-- Use %maskedMsg instead of %msg for automatic sensitive data masking -->
              <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${PID:- }){magenta} %clr(---){faint} %clr([%thread]){faint} %clr(%-5level) %clr([T:%X{traceId:-NO_TRACE}] [IP:%X{clientIp:-UNKNOWN}]){yellow} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %maskedMsg%n</pattern>
            </encoder>
        </appender>

    <!-- Request access logging - single entry point for HTTP lifecycle -->
    <logger name="ACCESS_LOG" level="INFO" additivity="false">
      <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Business logs use class name (LoggerFactory.getLogger(Xxx.class)) -->
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.JsonEncoder"/>
        </appender>

      <!-- Request access logging for production -->
      <logger name="ACCESS_LOG" level="INFO" additivity="false">
        <appender-ref ref="JSON"/>
      </logger>

      <!-- Business logs use class name -->
        <root level="INFO">
            <appender-ref ref="JSON"/>
        </root>
    </springProfile>
</configuration>
